[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=frank
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/i3lock-fancy/lock

[Install]
WantedBy=sleep.target