* {
    xbg:    #002635;
    xfg:    #e6e6dc;

    x0:     #00384d;
    x8:     #517f8d;

    x1:     #c43061;
    x9:     #ff5a67;

    x2:     #7fc06e;
    x10:    #9cf087;

    x3:     #f08e48;
    x11:    #ffcc1b;

    x4:     #1c8db2;
    x12:    #7eb2dd;

    x5:     #c694ff;
    x13:    #fb94ff;

    x6:     #00cccc;
    x14:    #00ffff;

    x7:     #77929e;
    x15:    #b7cff9;
}
